<% @users = User.all %>
<ul>
<% @users.each do |user| %>
  <li><strong><%= user.name %></strong><br/>
  <strong>Title: </strong><%=user.title%><br/>
  <strong>Location: </strong><%= user.city%>, <%=user.state%></li>
  <br/>
<% end %>
</ul>