<% if current_user %>
<h1>About DnDSocial</h1>
<%else%>
<h1>Welcome to DnDSocial</h1>
<%end%>
<p>Our objective is to give you a place to digitally store your characters, find new campaigns in your area and hopefully make friends. Feel free to create an account.</p>
<p>By becoming a member to of our site you argree to being apart of our loving and welcoming social group. We do no welcome negativity towards other in any form. We are all want to play and have a good time. Please be condsiderate of others. </p>
